/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #159;
    border-right: 1px solid #eee;
		font-size: 14px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: white;
}
.nav-sidebar > li > a:hover {
  color: #444;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Custom
 */
.navbar-fixed-top {
  border: 0;
  left: 115px;
  box-shadow: #aaa 2px 4px 4px;  
}
.navbar-brand {
  font-weight: bold;
}
.class-logo {
  position: fixed;	
  top: 15px;
  left: 7px;
  z-index: 1000;
}
.class-logo>a>img {
  height: 25px;
  width: 100px;
}

div#div-company {
  color: white;
  background-color: #159;
}

.content-filler-admin {
  position: absolute;
  left: 120px;
  top: 50px;
}

.content-filler-user {
  position: absolute;
  left: 110px;
  top: 100px;
}

#loader
{
  width:100%;
  height:100%;
  background:#fff;
  position:fixed;
  left: 0px;
  top: 0px;
  margin:0;
  padding:0;
  /*overflow:hidden;
  display:block;*/
  opacity: 0.8;
  text-align: center;
  z-index: 500;
  display: none;
}
#loader>img, #loader>span {
  position: relative;
  top: 20%;
  left: auto;
  right: auto;
}
#loader>span {
  color: orange;
  font-size: 20px;
  font-weight: bold;
}

td>button.btn {
  padding: 3px;
}

.table {
  text-align: center;
  font-size: 10px;
  box-shadow: #444 1px 2px 2px;  
}
.table thead {
  color: white;
}
.table th {
  text-align: center;
}
.table th:nth-child(odd) {
	background-color: #37b;
}
.table th:nth-child(even) {
	background-color: #159;
}


@media (max-width: 767px) {
  .content-filler-user {
    transform: translate(0px,50px);
  }
  .navbar-brand {
    font-size: 12px;
  }
  div#div-company {
    font-size: 11px;
  }
  .navbar,
  .sidebar,
  .class-logo {
    position: absolute;
  }
  .sidebar {
    height: 200px;
    width: 110px;
    transform: translate(0px,-50px);
    font-size: 12px;
  }
}