/*table {
	text-align: center;
	font-size: 10px;
}
table th {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
table thead {
	color: white;
}
#tbl-gol, #tbl-gol1, #tbl-gol2, #tbl-gol3, #tbl-score {
  box-shadow: #444 1px 2px 2px;  
}
#tbl-gol th:nth-child(odd), #tbl-gol1 th:nth-child(odd), #tbl-gol2 th:nth-child(odd), #tbl-gol3 th:nth-child(odd) {
	background-color: #37b;
}
#tbl-gol th:nth-child(even), #tbl-gol1 th:nth-child(even), #tbl-gol2 th:nth-child(even), #tbl-gol3 th:nth-child(even) {
	background-color: #159;
}
#tbl-score th:nth-child(odd) {
	background-color: #37b;
}
#tbl-score th:nth-child(even) {
	background-color: #159;
}
#tbl-score td:nth-child(1) {
	background-color: #aac;
}*/